

.url_autosend , .enter-text{
  /* text-align: center; */
  margin: 150px 500px 500px 350px;
}

.enter-text{
  position: relative;
  display: inline;
  size: 85%;
  text-align: center;
  top: 140px;
  left: 305px;
}