.text_header{
  margin-top: 15px;
  margin-left: 15px;
}

.media{
  background-color: rgba(44, 39, 119, 0.315);
}

.url_autosend , .enter-text{
  /* text-align: center; */
  margin: 150px 500px 500px 350px;
}

.enter-text{
  position: relative;
  display: inline;
  size: 85%;
  text-align: center;
  top: 140px;
  left: 305px;
  color: white;
}

footer{
  text-align: center;
}